.product-wishlist {
    position: top;
    position: absolute;
    top: 8%;
    font-size: 30px;
    right: 30px;
}
.product-wishlist a {
    color: #aaa;
}
.product-wishlist a:hover {
    color: #ff42b3;
}
.product-wishlist .fill-heart {
    color: #ff42b3;
}

.summary-item .row-in-form input[type="password"], .summary-item .row-in-form input[type="text"], .summary-item .row-in-form input[type="tel"] {
    font-size: 13px;
    line-height: 19px;
    display: inline-block;
    height: 43px;
    padding: 2px 20px;
    max-width: 300px;
    width: 100%;
    border: 1px solid #e6e6e6;
}